.notice {
  position: relative;
  background: var(--dark-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
}

.notice--hidden {
  display: none;
}

.notice__text {
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
}

.notice__close {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}